<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">

    <title>Workshop4</title>

</head>
<body>
    <div id="app">

        <h1>
            Students
        </h1>

        <div id="update-wrapper">
            <h2>
                Update
            </h2>
    
            <input
            v-model="newStudent.name"
            type="text"
            placeholder="name"
            class="form-control mb-3"
            >
            <input
            v-model="newStudent.isActive"
            type="text"
            placeholder="true/false"
            class="form-control mb-3"
            >
            <input
            v-model="newStudent.birthYear"
            type="text"
            placeholder="birthYear"
            class="form-control mb-3"
            >
            <input
            v-model="newStudent.connections"
            type="text"
            placeholder="connections"
            class="form-control mb-3"
            >
            <input
            v-model="newStudent.activeSemesterCount"
            type="text"
            placeholder="activeSemester"
            class="form-control mb-3"
            >
            <input
            v-model="newStudent.completedCredits"
            type="text"
            placeholder="activeSemester"
            class="form-control mb-3"
            >
            <input
            v-model="newStudent.image"
            type="text"
            placeholder="image"
            class="form-control mb-3"
            >


            <button
            class="btn btn-danger btn-block"
            v-on:click="updateStudent()"
        >
            Update Student
        </button>
        </div>
    
        <div id="create-wrapper">
            <h2>Create</h2>
            <input
            v-model="newStudentJson"
            type="text"
            placeholder="json"
            class="form-control mb-3"
            >
            <button
            class="btn btn-success btn-block"
            v-on:click="addNewStudent()"
        >
            Add new Student
        </button>
        </div>



        <table class="table mx-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Name</th>
                    <th scope="col">isActive</th>
                    <th scope="col">birthYear</th>
                    <th scope="col">connections</th>
                    <th scope="col">completedCredits</th>
                    <th scope="col">activeSemesterCount</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="student in students">
                    <tr class="mb-5 student-li">
                        <th scope="row">1</th>
                        <td><img v-bind:src="student.image" class="border profile-picture" :class=isActiveImg(student)></td>
                        <td :class=isActiveText(student)>
                            {{ student.name }}
                        </td>
                        <td>
                            {{ student.isActive }}
                        </td>
                        <td>
                            {{ student.birthYear }}
                        </td>
                        <td>
                            {{ student.connections }}
                        </td>
                        <td>
                            {{ student.completedCredits }}
                        </td>
                        <td>
                            {{ student.activeSemesterCount }}
                        </td>
                        <td>
                            <button
                            class="btn btn-danger btn-block"
                            v-on:click="deleteStudent(student.id)"
                        >
                            Delete
                        </button>
                        </td>

                    </tr>
                </template>
            </tbody>
        </table>

    </div>

    <script type="module">
        //import StudentItem from './student-item.js'

        const { createApp } = Vue

        createApp({
            components: {
                //StudentItem
            },
            data() {
                return {
                    students: [],



                    newStudentJson: '',



                    newStudent: {
                        id: '',
                        name: '',
                        isActive: false,
                        birthYear: '',
                        connections: '',
                        completedCredits: '',
                        activeSemesterCount: '',
                        image: ''
                    }
                }
            },
            computed: {

            },
            methods: {
                async fetchData() {
                    const url = 'https://practiceapi.nikprog.hu/Student'
                    this.students = (await (await fetch(url)).json())
                    
                    console.log(this.students)
                },




                addNewStudent() {
                    fetch("https://practiceapi.nikprog.hu/Student", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: this.newStudentJson,
                    })
                    .then((response) => response.json())
                    
                    .then((data) => {
                        console.log("Success:", data)

                        this.newStudent= {
                        id: data.id,
                        name: data.name,
                        isActive: data.isActive,
                        birthYear: data.birthYear,
                        connections: data.connections,
                        completedCredits: data.completedCredits,
                        activeSemesterCount: data.activeSemesterCount,
                        image: data.image
                        }

                        this.students.push(this.newStudent)

                        this.newStudent= {
                        id: '',
                        name: '',
                        isActive: false,
                        birthYear: '',
                        connections: '',
                        completedCredits: '',
                        activeSemesterCount: '',
                        image: ''
                        }
                    })
                    .catch((error) => {
                        console.error("Error:", error)
                    })
                },



                deleteStudent(studentId) {
                let index = this.students.findIndex(x => x.id === studentId)
                this.students.splice(index, 1)
                fetch("https://practiceapi.nikprog.hu/Student/" + studentId, {
                    method: "DELETE",
                })
                },

                updateStudent () {

                let index = this.students.findIndex(x => x.name == this.newStudent.name)
                this.newStudent.id = this.students[index].id
                this.students[index] = this.newStudent
                console.log(JSON.stringify(this.newStudent))
                fetch("https://practiceapi.nikprog.hu/Student", {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(this.newStudent),
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        console.log("Success:", data)

                        this.newStudent= {
                        id: '',
                        name: '',
                        isActive: false,
                        birthYear: '',
                        connections: '',
                        completedCredits: '',
                        activeSemesterCount: '',
                        image: ''
                    }
                        console.log("STUDENTS:",this.students)
                    })
                    .catch((error) => {
                        console.error("Error:", error)
                        this.newStudent= {
                        id: '',
                        name: '',
                        isActive: false,
                        birthYear: '',
                        connections: '',
                        completedCredits: '',
                        activeSemesterCount: '',
                        image: ''}
                    })
                },

                isActiveImg(stud)
                {
                    if (stud.isActive){
                        return 'border-success border-3'    
                    }
                    else
                    {
                        return 'border-danger border-3'
                    }
                },
                isActiveText(stud)
                {
                    if (stud.isActive){
                        return 'text-success'    
                    }
                    else
                    {
                        return 'text-danger'
                    }
                },

            },
            created() {
                this.fetchData()
            },
        }).mount('#app')

    </script>
</body>
</html>