 
  body, div ,span ,section ,article ,nav ,header ,main ,footer ,h1 ,h2 ,h3 ,a ,img ,iframe, button{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    backface-visibility: hidden;
  
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
    max-width: 1000px;
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    white-space:normal;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    user-select: none;
  
    transition: 0.25s;

    background-color:rgba(0, 0, 0, 0.0);
  }