  /*Base Settings*/
  ::-webkit-scrollbar {
    width: 0.5vw;
    height: 1vh;
    z-index: 1000;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(20, 20, 20); 
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: white;;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: greenyellow; 
  }
  
  body, div ,span ,section ,article ,nav ,header ,main ,footer ,h1 ,h2 ,h3 ,a ,img ,iframe, button{
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    backface-visibility: hidden;
  
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: rgb(0, 0, 0);
    white-space:normal;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    user-select: none;
  
    transition: 0.3s;

    background-color:rgba(0, 0, 0, 0.05);
  }
/*Base Settings*/
 
.nav {
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(20, 20, 20,1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav a {
    color: greenyellow;
    font-size: 30px;
    padding: 0;
    width: 10%;
}

.nav a:hover {
    color: white;
}

.header{
    height: 100vh;
    width: 100%;
    padding:0;
    background-image: linear-gradient(
        to bottom ,rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.75)), 
        url(https://4kwallpapers.com/images/walls/thumbs_3t/5696.jpg);
}

.header h1 {
    color: white;
    font-size: 80px;
    padding: 0;
    animation: floatin;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-color: rgba(0,0,0,0);
    letter-spacing: .1em;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

@keyframes floatin {
    0% {
        color: rgba(0,0,0,0);
        transform: translateY(-50vh);
    }
    100% {
        color: rgb(255, 255, 255,1);
        transform: translateY(0);
    }
}

.main {
    background-color: rgb(20, 20, 20,0.1);
    padding-left: 10vw;
    padding-right: 10vw;
}

.main div {
    font-size: 20px;
    padding: 5%;
}

.main button{
    height: 10vh;
    width: 15vw;
    border-radius: 50px;
    border: none;
    background-color: greenyellow;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.main button:hover{
    scale: 1.2;
    color: rgba(0, 0, 0, 0.3);
}

.footer{
    height: 25vh;
    width: 100%;
    padding:0;
    bottom: 0;
    z-index: 100;
    background-color: rgb(20, 20, 20,1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.footer h1 {
    color: white;
    font-size: 80px;
    padding: 0;
    background-color: rgba(0,0,0,0);
    letter-spacing: .1em;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

